:root {
    --clr-primary-blue: #13183F;
    --clr-white: #FFFFFF;
    --clr-light-blue: #666CA3;
    --clr-light-grey: #83869A;
    --clr-dark-pink: #F74780;
    --clr-light-pink: #FFA7C3;
    --clr-background-gradient: linear-gradient(#FFFFFF, #F0F1FF);
    --clr-button-gradient: linear-gradient(#FF6F48, #F02AA6);
    --clr-button-footer-gradient: linear-gradient(#4851FF, #F02AA6);

    --ff-primary: 'Plus Jakarta Sans', sans-serif;

    --fw-bold: 700;
    --fw-medium: 500;
    --fw-extra-bold: 800;
    
    --fs-xl-heading: 3.5rem;
    --fs-l-heading: 2.5rem;
    --fs-m-heading: 2rem;
    --fs-s-heading: 1.5rem;
    --fs-m-body: 1.125rem;
    --fs-s-body: 1rem;
}

/* css reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general */
html, body {
    font-family: var(--ff-primary);
    background: var(--clr-background-gradient);
    max-width: 100%;
    overflow-x: hidden;
}

/* header */

.header {
  display: flex;
  padding-top: 2rem;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 48em) {
  .header {
    padding-bottom: 4em;
  }
}

/* button */

.button {
    border: none;
    border-radius: 100rem;
    padding: 1em 2em;
    font-size: var(--fs-body);
    font-weight: var(--fw-bold);
    background-color: var(--clr-primary-blue);
    color: var(--clr-white);
}

.button[data-type="inverted"] {
  background: var(--clr-button-gradient);
}

.button[data-type="footer"] {
  background: var(--clr-button-footer-gradient);
}

/* hero */

.hero {
  margin: 3em 0;
  position: relative;
}

@media (min-width: 48em) {
  .hero {
    padding-bottom: 12em;
  }
}

@media (min-width: 64em) {
  .hero {
    padding-top: 5em;
  }
}

.hero-text > h1 {
  font-size: var(--fs-l-heading);
  font-weight: var(--fw-extra-bold);
  color: var(--clr-primary-blue);
}

.hero-text > p {
  margin-top: 2em;
  margin-bottom: 2em;
}

.hero-img {
  position: absolute;
  top: -50%;
  left: 50%;
}

@media (min-width: 48em) {
  .hero-text {
    width: 55%;
  }
}

@media (min-width: 64em) {
  .hero-text {
    width: 40%;
  }
  .hero-img {
    top: -55%;
  }
}

/* card */
.card {
  padding-inline: 1.5em;
  min-width: 100%;
  border-radius: 25px;
  background-color: var(--clr-white);
  margin-inline: auto;
}

.card[data-type="inverted"] {
  background: var(--clr-button-gradient);
}

.card-header {
  position: relative;
  padding-top: 3em;
}

.card-img {
  position: absolute;
  top: -35%;
}

.card > h2 {
  padding: 1em 0;
}

.card > h3 {
  padding-top: 2.5em
}

.card > p {
  padding-top: 1em;
  padding-bottom: 1em;
  height: 9em;
}

.card > h4 {
  padding-bottom: 2em;
  font-size: 18px;
  color: var(--clr-dark-pink);
}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-primary-blue);
  margin-top: 5em;
  align-items: center;
  padding: 2em 0;
}

/* utility classes */

.card-container {
  display: grid;
  row-gap: 3em;
}

@media (min-width: 48em) {
  .card-container {
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  row-gap: 4em;
  }
}

@media (min-width: 64em) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2em;
    row-gap: 6em;
  }
}

.container {
  --width: 1100px;
  --padding: 1rem;

  width: min(var(--width), (100% - (var(--padding) * 2)));
  margin-inline: auto;
}

.container[data-type="footer"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 48em) {
  .container {
    width: min(var(--width), (100% - (var(--padding) * 5)));
  }
}

@media (max-width: 47em) {
  .hidden-at-sm {
    display: none;
  }
}

@media (min-width: 48em) and (max-width: 63em) {
  .hidden-at-md {
    display: none;
  }
}

@media (min-width: 64em) {
  .hidden-at-lg {
    display: none;
  }
}

@media (min-width: 64em) {
  .container {
    width: min(var(--width), (100% - (var(--padding) * 7)));
  }
  .hidden-at-lg {
    display: none;
  }
}

.heading-xl {
    font-size: var(--fs-xl-heading);
    font-weight: var(--fw-extra-bold);
    color: var(--clr-primary-blue);
}

.heading-l {
    font-size: var(--fs-l-heading);
    font-weight: var(--fw-extra-bold);
}

.heading-m {
    font-size: var(--fs-m-heading);
    font-weight: var(--fw-extra-bold);
    color: var(--clr-white);
}

.heading-s {
    font-size: var(--fs-s-heading);
    font-weight: var(--fw-extra-bold);
    color: var(--clr-primary-blue);
}

.body {
    font-size: var(--fs-s-body);
    font-weight: var(--fw-medium);
    color: var(--clr-light-grey);
}